.icon-skill
  height 64px
  width 64px
  max-width 100%
  background-image url("/img/sprite/skill-sprite.jpg")
  background-size 100%
.icon-buckshot
  background-position 0 0%
.icon-bullettime
  background-position 0 2%
.icon-burrow
  background-position 0 4%
.icon-deathlotus
  background-position 0 6%
.icon-decimate
  background-position 0 8%
.icon-demonflare
  background-position 0 10%
.icon-divinejudgement
  background-position 0 12%
.icon-dragonsdescent
  background-position 0 14%
.icon-enchantedcrystalarrow
  background-position 0 16%
.icon-explosivecharge
  background-position 0 18%
.icon-fivepointstrike
  background-position 0 20%
.icon-frozentomb
  background-position 0 22%
.icon-glacialprison
  background-position 0 24%
.icon-glacialstorm
  background-position 0 26%
.icon-gnarr
  background-position 0 28%
.icon-infiniteduress
  background-position 0 30%
.icon-judgement
  background-position 0 32%
.icon-keepersverdict
  background-position 0 34%
.icon-lambsrespite
  background-position 0 36%
.icon-lastcaress
  background-position 0 38%
.icon-netherblade
  background-position 0 40%
.icon-obliterate
  background-position 0 42%
.icon-orbofdeception
  background-position 0 44%
.icon-phantomundertow
  background-position 0 46%
.icon-pickacard
  background-position 0 48%
.icon-piercingarrow
  background-position 0 50%
.icon-powderkegs
  background-position 0 52%
.icon-primalsurge
  background-position 0 54%
.icon-primordialburst
  background-position 0 56%
.icon-pyroclasm
  background-position 0 58%
.icon-razorshuriken
  background-position 0 60%
.icon-relentlesspursuit
  background-position 0 62%
.icon-requiem
  background-position 0 64%
.icon-riposte
  background-position 0 66%
.icon-rocketgrab
  background-position 0 68%
.icon-rupture
  background-position 0 70%
.icon-savagery
  background-position 0 72%
.icon-silverbolts
  background-position 0 74%
.icon-slicingmaelstrom
  background-position 0 76%
.icon-solarflare
  background-position 0 78%
.icon-soulshackles
  background-position 0 80%
.icon-spiderform
  background-position 0 82%
.icon-spinningaxes
  background-position 0 84%
.icon-spiritsrefuge
  background-position 0 86%
.icon-steeltempest
  background-position 0 88%
.icon-tastetheirfear
  background-position 0 90%
.icon-thedarkinblade
  background-position 0 92%
.icon-thunderclaws
  background-position 0 94%
.icon-unbreakable
  background-position 0 96%
.icon-voiceoflight
  background-position 0 98%
.icon-wildgrowth
  background-position 0 100%
