.icon-class
  background-image url("/img/class-sprite.png")
  display inline-block
.icon-assassin
  width 32px
  height 32px
  background-position 0px 0px
.icon-assassin-s
  width 16px
  height 16px
  background-position 0px 0px
  background-size: 64px 48px;
.icon-blademaster
  width 32px
  height 32px
  background-position -32px 0px
.icon-blademaster-s
  width 16px
  height 16px
  background-position -16px 0px
  background-size: 64px 48px;
.icon-brawler
  width 32px
  height 32px
  background-position 0px -32px
.icon-brawler-s
  width 16px
  height 16px
  background-position 0px -16px
  background-size: 64px 48px;
.icon-elementalist
  width 32px
  height 32px
  background-position -32px -32px
.icon-elementalist-s
  width 16px
  height 16px
  background-position -16px -16px
  background-size: 64px 48px;
.icon-guardian
  width 32px
  height 32px
  background-position -64px 0px
.icon-guardian-s
  width 16px
  height 16px
  background-position -32px 0px
  background-size: 64px 48px;
.icon-gunslinger
  width 32px
  height 32px
  background-position -64px -32px
.icon-gunslinger-s
  width 16px
  height 16px
  background-position -32px -16px
  background-size: 64px 48px;
.icon-knight
  width 32px
  height 32px
  background-position 0px -64px
.icon-knight-s
  width 16px
  height 16px
  background-position 0px -32px
  background-size: 64px 48px;
.icon-ranger
  width 32px
  height 32px
  background-position -32px -64px
.icon-ranger-s
  width 16px
  height 16px
  background-position -16px -32px
  background-size: 64px 48px;
.icon-shapeshifter
  width 32px
  height 32px
  background-position -64px -64px
.icon-shapeshifter-s
  width 16px
  height 16px
  background-position -32px -32px
  background-size: 64px 48px;
.icon-sorcerer
  width 32px
  height 32px
  background-position -96px 0px
.icon-sorcerer-s
  width 16px
  height 16px
  background-position -48px 0px
  background-size: 64px 48px;