.icon-champion
  background-image url("/img/sprite/champion-sprite.jpg")
  display inline-block
.icon-aatrox
  width 64px
  height 64px
  background-position 0px 0px
.icon-ahri
  width 64px
  height 64px
  background-position -64px 0px
.icon-akali
  width 64px
  height 64px
  background-position 0px -64px
.icon-anivia
  width 64px
  height 64px
  background-position -64px -64px
.icon-ashe
  width 64px
  height 64px
  background-position -128px 0px
.icon-aurelionsol
  width 64px
  height 64px
  background-position -128px -64px
.icon-blitzcrank
  width 64px
  height 64px
  background-position 0px -128px
.icon-brand
  width 64px
  height 64px
  background-position -64px -128px
.icon-braum
  width 64px
  height 64px
  background-position -128px -128px
.icon-chogath
  width 64px
  height 64px
  background-position -192px 0px
.icon-darius
  width 64px
  height 64px
  background-position -192px -64px
.icon-draven
  width 64px
  height 64px
  background-position -192px -128px
.icon-elise
  width 64px
  height 64px
  background-position 0px -192px
.icon-evelynn
  width 64px
  height 64px
  background-position -64px -192px
.icon-fiora
  width 64px
  height 64px
  background-position -128px -192px
.icon-gangplank
  width 64px
  height 64px
  background-position -192px -192px
.icon-garen
  width 64px
  height 64px
  background-position -256px 0px
.icon-gnar
  width 64px
  height 64px
  background-position -256px -64px
.icon-graves
  width 64px
  height 64px
  background-position -256px -128px
.icon-karthus
  width 64px
  height 64px
  background-position -256px -192px
.icon-kassadin
  width 64px
  height 64px
  background-position 0px -256px
.icon-katarina
  width 64px
  height 64px
  background-position -64px -256px
.icon-kayle
  width 64px
  height 64px
  background-position -128px -256px
.icon-kennen
  width 64px
  height 64px
  background-position -192px -256px
.icon-khazix
  width 64px
  height 64px
  background-position -256px -256px
.icon-kindred
  width 64px
  height 64px
  background-position -320px 0px
.icon-leona
  width 64px
  height 64px
  background-position -320px -64px
.icon-lissandra
  width 64px
  height 64px
  background-position -320px -128px
.icon-lucian
  width 64px
  height 64px
  background-position -320px -192px
.icon-lulu
  width 64px
  height 64px
  background-position -320px -256px
.icon-missfortune
  width 64px
  height 64px
  background-position 0px -320px
.icon-mordekaiser
  width 64px
  height 64px
  background-position -64px -320px
.icon-morgana
  width 64px
  height 64px
  background-position -128px -320px
.icon-nidalee
  width 64px
  height 64px
  background-position -192px -320px
.icon-poppy
  width 64px
  height 64px
  background-position -256px -320px
.icon-pyke
  width 64px
  height 64px
  background-position -320px -320px
.icon-reksai
  width 64px
  height 64px
  background-position -384px 0px
.icon-rengar
  width 64px
  height 64px
  background-position -384px -64px
.icon-sejuani
  width 64px
  height 64px
  background-position -384px -128px
.icon-shen
  width 64px
  height 64px
  background-position -384px -192px
.icon-shyvana
  width 64px
  height 64px
  background-position -384px -256px
.icon-swain
  width 64px
  height 64px
  background-position -384px -320px
.icon-tristana
  width 64px
  height 64px
  background-position 0px -384px
.icon-twistedfate
  width 64px
  height 64px
  background-position -64px -384px
.icon-varus
  width 64px
  height 64px
  background-position -128px -384px
.icon-vayne
  width 64px
  height 64px
  background-position -192px -384px
.icon-veigar
  width 64px
  height 64px
  background-position -256px -384px
.icon-volibear
  width 64px
  height 64px
  background-position -320px -384px
.icon-warwick
  width 64px
  height 64px
  background-position -384px -384px
.icon-yasuo
  width 64px
  height 64px
  background-position -448px 0px
.icon-zed
  width 64px
  height 64px
  background-position -448px -64px

.icon-aatrox-s
  width 36px
  height 36px
  background-position 0px 0px
  background-size: 288px 252px
.icon-ahri-s
  width 36px
  height 36px
  background-position -36px 0px
  background-size: 288px 252px
.icon-akali-s
  width 36px
  height 36px
  background-position 0px -36px
  background-size: 288px 252px
.icon-anivia-s
  width 36px
  height 36px
  background-position -36px -36px
  background-size: 288px 252px
.icon-ashe-s
  width 36px
  height 36px
  background-position -72px 0px
  background-size: 288px 252px
.icon-aurelionsol-s
  width 36px
  height 36px
  background-position -72px -36px
  background-size: 288px 252px
.icon-blitzcrank-s
  width 36px
  height 36px
  background-position 0px -72px
  background-size: 288px 252px
.icon-brand-s
  width 36px
  height 36px
  background-position -36px -72px
  background-size: 288px 252px
.icon-braum-s
  width 36px
  height 36px
  background-position -72px -72px
  background-size: 288px 252px
.icon-chogath-s
  width 36px
  height 36px
  background-position -108px 0px
  background-size: 288px 252px
.icon-darius-s
  width 36px
  height 36px
  background-position -108px -36px
  background-size: 288px 252px
.icon-draven-s
  width 36px
  height 36px
  background-position -108px -72px
  background-size: 288px 252px
.icon-elise-s
  width 36px
  height 36px
  background-position 0px -108px
  background-size: 288px 252px
.icon-evelynn-s
  width 36px
  height 36px
  background-position -36px -108px
  background-size: 288px 252px
.icon-fiora-s
  width 36px
  height 36px
  background-position -72px -108px
  background-size: 288px 252px
.icon-gangplank-s
  width 36px
  height 36px
  background-position -108px -108px
  background-size: 288px 252px
.icon-garen-s
  width 36px
  height 36px
  background-position -144px 0px
  background-size: 288px 252px
.icon-gnar-s
  width 36px
  height 36px
  background-position -144px -36px
  background-size: 288px 252px
.icon-graves-s
  width 36px
  height 36px
  background-position -144px -72px
  background-size: 288px 252px
.icon-karthus-s
  width 36px
  height 36px
  background-position -144px -108px
  background-size: 288px 252px
.icon-kassadin-s
  width 36px
  height 36px
  background-position 0px -144px
  background-size: 288px 252px
.icon-katarina-s
  width 36px
  height 36px
  background-position -36px -144px
  background-size: 288px 252px
.icon-kayle-s
  width 36px
  height 36px
  background-position -72px -144px
  background-size: 288px 252px
.icon-kennen-s
  width 36px
  height 36px
  background-position -108px -144px
  background-size: 288px 252px
.icon-khazix-s
  width 36px
  height 36px
  background-position -144px -144px
  background-size: 288px 252px
.icon-kindred-s
  width 36px
  height 36px
  background-position -180px 0px
  background-size: 288px 252px
.icon-leona-s
  width 36px
  height 36px
  background-position -180px -36px
  background-size: 288px 252px
.icon-lissandra-s
  width 36px
  height 36px
  background-position -180px -72px
  background-size: 288px 252px
.icon-lucian-s
  width 36px
  height 36px
  background-position -180px -108px
  background-size: 288px 252px
.icon-lulu-s
  width 36px
  height 36px
  background-position -180px -144px
  background-size: 288px 252px
.icon-missfortune-s
  width 36px
  height 36px
  background-position 0px -180px
  background-size: 288px 252px
.icon-mordekaiser-s
  width 36px
  height 36px
  background-position -36px -180px
  background-size: 288px 252px
.icon-morgana-s
  width 36px
  height 36px
  background-position -72px -180px
  background-size: 288px 252px
.icon-nidalee-s
  width 36px
  height 36px
  background-position -108px -180px
  background-size: 288px 252px
.icon-poppy-s
  width 36px
  height 36px
  background-position -144px -180px
  background-size: 288px 252px
.icon-pyke-s
  width 36px
  height 36px
  background-position -180px -180px
  background-size: 288px 252px
.icon-reksai-s
  width 36px
  height 36px
  background-position -216px 0px
  background-size: 288px 252px
.icon-rengar-s
  width 36px
  height 36px
  background-position -216px -36px
  background-size: 288px 252px
.icon-sejuani-s
  width 36px
  height 36px
  background-position -216px -72px
  background-size: 288px 252px
.icon-shen-s
  width 36px
  height 36px
  background-position -216px -108px
  background-size: 288px 252px
.icon-shyvana-s
  width 36px
  height 36px
  background-position -216px -144px
  background-size: 288px 252px
.icon-swain-s
  width 36px
  height 36px
  background-position -216px -180px
  background-size: 288px 252px
.icon-tristana-s
  width 36px
  height 36px
  background-position 0px -216px
  background-size: 288px 252px
.icon-twistedfate-s
  width 36px
  height 36px
  background-position -36px -216px
  background-size: 288px 252px
.icon-varus-s
  width 36px
  height 36px
  background-position -72px -216px
  background-size: 288px 252px
.icon-vayne-s
  width 36px
  height 36px
  background-position -108px -216px
  background-size: 288px 252px
.icon-veigar-s
  width 36px
  height 36px
  background-position -144px -216px
  background-size: 288px 252px
.icon-volibear-s
  width 36px
  height 36px
  background-position -180px -216px
  background-size: 288px 252px
.icon-warwick-s
  width 36px
  height 36px
  background-position -216px -216px
  background-size: 288px 252px
.icon-yasuo-s
  width 36px
  height 36px
  background-position -252px 0px
  background-size: 288px 252px
.icon-zed-s
  width 36px
  height 36px
  background-position -252px -36px
  background-size: 288px 252px
.icon-aatrox-m
  width 48px
  height 48px
  background-position 0px 0px
  background-size: 384px 336px
.icon-ahri-m
  width 48px
  height 48px
  background-position -48px 0px
  background-size: 384px 336px
.icon-akali-m
  width 48px
  height 48px
  background-position 0px -48px
  background-size: 384px 336px
.icon-anivia-m
  width 48px
  height 48px
  background-position -48px -48px
  background-size: 384px 336px
.icon-ashe-m
  width 48px
  height 48px
  background-position -96px 0px
  background-size: 384px 336px
.icon-aurelionsol-m
  width 48px
  height 48px
  background-position -96px -48px
  background-size: 384px 336px
.icon-blitzcrank-m
  width 48px
  height 48px
  background-position 0px -96px
  background-size: 384px 336px
.icon-brand-m
  width 48px
  height 48px
  background-position -48px -96px
  background-size: 384px 336px
.icon-braum-m
  width 48px
  height 48px
  background-position -96px -96px
  background-size: 384px 336px
.icon-chogath-m
  width 48px
  height 48px
  background-position -144px 0px
  background-size: 384px 336px
.icon-darius-m
  width 48px
  height 48px
  background-position -144px -48px
  background-size: 384px 336px
.icon-draven-m
  width 48px
  height 48px
  background-position -144px -96px
  background-size: 384px 336px
.icon-elise-m
  width 48px
  height 48px
  background-position 0px -144px
  background-size: 384px 336px
.icon-evelynn-m
  width 48px
  height 48px
  background-position -48px -144px
  background-size: 384px 336px
.icon-fiora-m
  width 48px
  height 48px
  background-position -96px -144px
  background-size: 384px 336px
.icon-gangplank-m
  width 48px
  height 48px
  background-position -144px -144px
  background-size: 384px 336px
.icon-garen-m
  width 48px
  height 48px
  background-position -192px 0px
  background-size: 384px 336px
.icon-gnar-m
  width 48px
  height 48px
  background-position -192px -48px
  background-size: 384px 336px
.icon-graves-m
  width 48px
  height 48px
  background-position -192px -96px
  background-size: 384px 336px
.icon-karthus-m
  width 48px
  height 48px
  background-position -192px -144px
  background-size: 384px 336px
.icon-kassadin-m
  width 48px
  height 48px
  background-position 0px -192px
  background-size: 384px 336px
.icon-katarina-m
  width 48px
  height 48px
  background-position -48px -192px
  background-size: 384px 336px
.icon-kayle-m
  width 48px
  height 48px
  background-position -96px -192px
  background-size: 384px 336px
.icon-kennen-m
  width 48px
  height 48px
  background-position -144px -192px
  background-size: 384px 336px
.icon-khazix-m
  width 48px
  height 48px
  background-position -192px -192px
  background-size: 384px 336px
.icon-kindred-m
  width 48px
  height 48px
  background-position -240px 0px
  background-size: 384px 336px
.icon-leona-m
  width 48px
  height 48px
  background-position -240px -48px
  background-size: 384px 336px
.icon-lissandra-m
  width 48px
  height 48px
  background-position -240px -96px
  background-size: 384px 336px
.icon-lucian-m
  width 48px
  height 48px
  background-position -240px -144px
  background-size: 384px 336px
.icon-lulu-m
  width 48px
  height 48px
  background-position -240px -192px
  background-size: 384px 336px
.icon-missfortune-m
  width 48px
  height 48px
  background-position 0px -240px
  background-size: 384px 336px
.icon-mordekaiser-m
  width 48px
  height 48px
  background-position -48px -240px
  background-size: 384px 336px
.icon-morgana-m
  width 48px
  height 48px
  background-position -96px -240px
  background-size: 384px 336px
.icon-nidalee-m
  width 48px
  height 48px
  background-position -144px -240px
  background-size: 384px 336px
.icon-poppy-m
  width 48px
  height 48px
  background-position -192px -240px
  background-size: 384px 336px
.icon-pyke-m
  width 48px
  height 48px
  background-position -240px -240px
  background-size: 384px 336px
.icon-reksai-m
  width 48px
  height 48px
  background-position -288px 0px
  background-size: 384px 336px
.icon-rengar-m
  width 48px
  height 48px
  background-position -288px -48px
  background-size: 384px 336px
.icon-sejuani-m
  width 48px
  height 48px
  background-position -288px -96px
  background-size: 384px 336px
.icon-shen-m
  width 48px
  height 48px
  background-position -288px -144px
  background-size: 384px 336px
.icon-shyvana-m
  width 48px
  height 48px
  background-position -288px -192px
  background-size: 384px 336px
.icon-swain-m
  width 48px
  height 48px
  background-position -288px -240px
  background-size: 384px 336px
.icon-tristana-m
  width 48px
  height 48px
  background-position 0px -288px
  background-size: 384px 336px
.icon-twistedfate-m
  width 48px
  height 48px
  background-position -48px -288px
  background-size: 384px 336px
.icon-varus-m
  width 48px
  height 48px
  background-position -96px -288px
  background-size: 384px 336px
.icon-vayne-m
  width 48px
  height 48px
  background-position -144px -288px
  background-size: 384px 336px
.icon-veigar-m
  width 48px
  height 48px
  background-position -192px -288px
  background-size: 384px 336px
.icon-volibear-m
  width 48px
  height 48px
  background-position -240px -288px
  background-size: 384px 336px
.icon-warwick-m
  width 48px
  height 48px
  background-position -288px -288px
  background-size: 384px 336px
.icon-yasuo-m
  width 48px
  height 48px
  background-position -336px 0px
  background-size: 384px 336px
.icon-zed-m
  width 48px
  height 48px
  background-position -336px -48px
  background-size: 384px 336px