.icon-origin
  height 32px
  width 32px
  max-width 100%
  background-image url("/img/sprite/origin-sprite.png")
  background-size 100%
.icon-demon
  background-position 0 0%
.icon-dragon
  background-position 0 8.333333333333334%
.icon-exile
  background-position 0 16.666666666666668%
.icon-glacial
  background-position 0 25%
.icon-imperial
  background-position 0 33.333333333333336%
.icon-ninja
  background-position 0 41.66666666666667%
.icon-noble
  background-position 0 50%
.icon-phantom
  background-position 0 58.333333333333336%
.icon-pirate
  background-position 0 66.66666666666667%
.icon-robot
  background-position 0 75%
.icon-void
  background-position 0 83.33333333333334%
.icon-wild
  background-position 0 91.66666666666667%
.icon-yordle
  background-position 0 100%
