.icon-skill
  background-image url("/img/sprite/skill-sprite.jpg")
  display inline-block
.icon-buckshot
  width 64px
  height 64px
  background-position 0px 0px
.icon-bullettime
  width 64px
  height 64px
  background-position -64px 0px
.icon-burrow
  width 64px
  height 64px
  background-position 0px -64px
.icon-deathlotus
  width 64px
  height 64px
  background-position -64px -64px
.icon-decimate
  width 64px
  height 64px
  background-position -128px 0px
.icon-demonflare
  width 64px
  height 64px
  background-position -128px -64px
.icon-divinejudgement
  width 64px
  height 64px
  background-position 0px -128px
.icon-dragonsdescent
  width 64px
  height 64px
  background-position -64px -128px
.icon-enchantedcrystalarrow
  width 64px
  height 64px
  background-position -128px -128px
.icon-explosivecharge
  width 64px
  height 64px
  background-position -192px 0px
.icon-fivepointstrike
  width 64px
  height 64px
  background-position -192px -64px
.icon-frozentomb
  width 64px
  height 64px
  background-position -192px -128px
.icon-glacialprison
  width 64px
  height 64px
  background-position 0px -192px
.icon-glacialstorm
  width 64px
  height 64px
  background-position -64px -192px
.icon-gnar
  width 64px
  height 64px
  background-position -128px -192px
.icon-infiniteduress
  width 64px
  height 64px
  background-position -192px -192px
.icon-judgement
  width 64px
  height 64px
  background-position -256px 0px
.icon-keepersverdict
  width 64px
  height 64px
  background-position -256px -64px
.icon-lambsrespite
  width 64px
  height 64px
  background-position -256px -128px
.icon-lastcaress
  width 64px
  height 64px
  background-position -256px -192px
.icon-netherblade
  width 64px
  height 64px
  background-position 0px -256px
.icon-obliterate
  width 64px
  height 64px
  background-position -64px -256px
.icon-orbofdeception
  width 64px
  height 64px
  background-position -128px -256px
.icon-phantomundertow
  width 64px
  height 64px
  background-position -192px -256px
.icon-pickacard
  width 64px
  height 64px
  background-position -256px -256px
.icon-piercingarrow
  width 64px
  height 64px
  background-position -320px 0px
.icon-powderkegs
  width 64px
  height 64px
  background-position -320px -64px
.icon-primalsurge
  width 64px
  height 64px
  background-position -320px -128px
.icon-primordialburst
  width 64px
  height 64px
  background-position -320px -192px
.icon-pyroclasm
  width 64px
  height 64px
  background-position -320px -256px
.icon-razorshuriken
  width 64px
  height 64px
  background-position 0px -320px
.icon-relentlesspursuit
  width 64px
  height 64px
  background-position -64px -320px
.icon-requiem
  width 64px
  height 64px
  background-position -128px -320px
.icon-riposte
  width 64px
  height 64px
  background-position -192px -320px
.icon-rocketgrab
  width 64px
  height 64px
  background-position -256px -320px
.icon-rupture
  width 64px
  height 64px
  background-position -320px -320px
.icon-savagery
  width 64px
  height 64px
  background-position -384px 0px
.icon-silverbolts
  width 64px
  height 64px
  background-position -384px -64px
.icon-slicingmaelstrom
  width 64px
  height 64px
  background-position -384px -128px
.icon-solarflare
  width 64px
  height 64px
  background-position -384px -192px
.icon-soulshackles
  width 64px
  height 64px
  background-position -384px -256px
.icon-spiderform
  width 64px
  height 64px
  background-position -384px -320px
.icon-spinningaxes
  width 64px
  height 64px
  background-position 0px -384px
.icon-spiritsrefuge
  width 64px
  height 64px
  background-position -64px -384px
.icon-steeltempest
  width 64px
  height 64px
  background-position -128px -384px
.icon-tastetheirfear
  width 64px
  height 64px
  background-position -192px -384px
.icon-thedarkinblade
  width 64px
  height 64px
  background-position -256px -384px
.icon-thunderclaws
  width 64px
  height 64px
  background-position -320px -384px
.icon-unbreakable
  width 64px
  height 64px
  background-position -384px -384px
.icon-voiceoflight
  width 64px
  height 64px
  background-position -448px 0px
.icon-wildgrowth
  width 64px
  height 64px
  background-position -448px -64px

.icon-buckshot-s
  width 48px
  height 48px
  background-position 0px 0px
  background-size: 384px 336px
.icon-bullettime-s
  width 48px
  height 48px
  background-position -48px 0px
  background-size: 384px 336px
.icon-burrow-s
  width 48px
  height 48px
  background-position 0px -48px
  background-size: 384px 336px
.icon-deathlotus-s
  width 48px
  height 48px
  background-position -48px -48px
  background-size: 384px 336px
.icon-decimate-s
  width 48px
  height 48px
  background-position -96px 0px
  background-size: 384px 336px
.icon-demonflare-s
  width 48px
  height 48px
  background-position -96px -48px
  background-size: 384px 336px
.icon-divinejudgement-s
  width 48px
  height 48px
  background-position 0px -96px
  background-size: 384px 336px
.icon-dragonsdescent-s
  width 48px
  height 48px
  background-position -48px -96px
  background-size: 384px 336px
.icon-enchantedcrystalarrow-s
  width 48px
  height 48px
  background-position -96px -96px
  background-size: 384px 336px
.icon-explosivecharge-s
  width 48px
  height 48px
  background-position -144px 0px
  background-size: 384px 336px
.icon-fivepointstrike-s
  width 48px
  height 48px
  background-position -144px -48px
  background-size: 384px 336px
.icon-frozentomb-s
  width 48px
  height 48px
  background-position -144px -96px
  background-size: 384px 336px
.icon-glacialprison-s
  width 48px
  height 48px
  background-position 0px -144px
  background-size: 384px 336px
.icon-glacialstorm-s
  width 48px
  height 48px
  background-position -48px -144px
  background-size: 384px 336px
.icon-gnar-s
  width 48px
  height 48px
  background-position -96px -144px
  background-size: 384px 336px
.icon-infiniteduress-s
  width 48px
  height 48px
  background-position -144px -144px
  background-size: 384px 336px
.icon-judgement-s
  width 48px
  height 48px
  background-position -192px 0px
  background-size: 384px 336px
.icon-keepersverdict-s
  width 48px
  height 48px
  background-position -192px -48px
  background-size: 384px 336px
.icon-lambsrespite-s
  width 48px
  height 48px
  background-position -192px -96px
  background-size: 384px 336px
.icon-lastcaress-s
  width 48px
  height 48px
  background-position -192px -144px
  background-size: 384px 336px
.icon-netherblade-s
  width 48px
  height 48px
  background-position 0px -192px
  background-size: 384px 336px
.icon-obliterate-s
  width 48px
  height 48px
  background-position -48px -192px
  background-size: 384px 336px
.icon-orbofdeception-s
  width 48px
  height 48px
  background-position -96px -192px
  background-size: 384px 336px
.icon-phantomundertow-s
  width 48px
  height 48px
  background-position -144px -192px
  background-size: 384px 336px
.icon-pickacard-s
  width 48px
  height 48px
  background-position -192px -192px
  background-size: 384px 336px
.icon-piercingarrow-s
  width 48px
  height 48px
  background-position -240px 0px
  background-size: 384px 336px
.icon-powderkegs-s
  width 48px
  height 48px
  background-position -240px -48px
  background-size: 384px 336px
.icon-primalsurge-s
  width 48px
  height 48px
  background-position -240px -96px
  background-size: 384px 336px
.icon-primordialburst-s
  width 48px
  height 48px
  background-position -240px -144px
  background-size: 384px 336px
.icon-pyroclasm-s
  width 48px
  height 48px
  background-position -240px -192px
  background-size: 384px 336px
.icon-razorshuriken-s
  width 48px
  height 48px
  background-position 0px -240px
  background-size: 384px 336px
.icon-relentlesspursuit-s
  width 48px
  height 48px
  background-position -48px -240px
  background-size: 384px 336px
.icon-requiem-s
  width 48px
  height 48px
  background-position -96px -240px
  background-size: 384px 336px
.icon-riposte-s
  width 48px
  height 48px
  background-position -144px -240px
  background-size: 384px 336px
.icon-rocketgrab-s
  width 48px
  height 48px
  background-position -192px -240px
  background-size: 384px 336px
.icon-rupture-s
  width 48px
  height 48px
  background-position -240px -240px
  background-size: 384px 336px
.icon-savagery-s
  width 48px
  height 48px
  background-position -288px 0px
  background-size: 384px 336px
.icon-silverbolts-s
  width 48px
  height 48px
  background-position -288px -48px
  background-size: 384px 336px
.icon-slicingmaelstrom-s
  width 48px
  height 48px
  background-position -288px -96px
  background-size: 384px 336px
.icon-solarflare-s
  width 48px
  height 48px
  background-position -288px -144px
  background-size: 384px 336px
.icon-soulshackles-s
  width 48px
  height 48px
  background-position -288px -192px
  background-size: 384px 336px
.icon-spiderform-s
  width 48px
  height 48px
  background-position -288px -240px
  background-size: 384px 336px
.icon-spinningaxes-s
  width 48px
  height 48px
  background-position 0px -288px
  background-size: 384px 336px
.icon-spiritsrefuge-s
  width 48px
  height 48px
  background-position -48px -288px
  background-size: 384px 336px
.icon-steeltempest-s
  width 48px
  height 48px
  background-position -96px -288px
  background-size: 384px 336px
.icon-tastetheirfear-s
  width 48px
  height 48px
  background-position -144px -288px
  background-size: 384px 336px
.icon-thedarkinblade-s
  width 48px
  height 48px
  background-position -192px -288px
  background-size: 384px 336px
.icon-thunderclaws-s
  width 48px
  height 48px
  background-position -240px -288px
  background-size: 384px 336px
.icon-unbreakable-s
  width 48px
  height 48px
  background-position -288px -288px
  background-size: 384px 336px
.icon-voiceoflight-s
  width 48px
  height 48px
  background-position -336px 0px
  background-size: 384px 336px
.icon-wildgrowth-s
  width 48px
  height 48px
  background-position -336px -48px
  background-size: 384px 336px