.icon-class
  height 32px
  width 32px
  display: inline-block
  max-width 100%
  background-image url("/img/sprite/class-sprite.png")
  background-size 100%
.icon-assassin
  background-position 0 0%
.icon-blademaster
  background-position 0 11.11111111111111%
.icon-brawler
  background-position 0 22.22222222222222%
.icon-elementalist
  background-position 0 33.33333333333333%
.icon-guardian
  background-position 0 44.44444444444444%
.icon-gunslinger
  background-position 0 55.55555555555556%
.icon-knight
  background-position 0 66.66666666666666%
.icon-ranger
  background-position 0 77.77777777777777%
.icon-shapeshifter
  background-position 0 88.88888888888889%
.icon-sorcerer
  background-position 0 100%
