.icon-origin
  background-image url("/img/sprite/origin-sprite.png")
  display inline-block
.icon-demon
  width 32px
  height 32px
  background-position 0px 0px
.icon-dragon
  width 32px
  height 32px
  background-position -32px 0px
.icon-exile
  width 32px
  height 32px
  background-position 0px -32px
.icon-glacial
  width 32px
  height 32px
  background-position -32px -32px
.icon-imperial
  width 32px
  height 32px
  background-position -64px 0px
.icon-ninja
  width 32px
  height 32px
  background-position -64px -32px
.icon-noble
  width 32px
  height 32px
  background-position 0px -64px
.icon-phantom
  width 32px
  height 32px
  background-position -32px -64px
.icon-pirate
  width 32px
  height 32px
  background-position -64px -64px
.icon-robot
  width 32px
  height 32px
  background-position -96px 0px
.icon-void
  width 32px
  height 32px
  background-position -96px -32px
.icon-wild
  width 32px
  height 32px
  background-position -96px -64px
.icon-yordle
  width 32px
  height 32px
  background-position 0px -96px

.icon-demon-s
  width 16px
  height 16px
  background-position 0px 0px
  background-size: 64px 64px
.icon-dragon-s
  width 16px
  height 16px
  background-position -16px 0px
  background-size: 64px 64px
.icon-exile-s
  width 16px
  height 16px
  background-position 0px -16px
  background-size: 64px 64px
.icon-glacial-s
  width 16px
  height 16px
  background-position -16px -16px
  background-size: 64px 64px
.icon-imperial-s
  width 16px
  height 16px
  background-position -32px 0px
  background-size: 64px 64px
.icon-ninja-s
  width 16px
  height 16px
  background-position -32px -16px
  background-size: 64px 64px
.icon-noble-s
  width 16px
  height 16px
  background-position 0px -32px
  background-size: 64px 64px
.icon-phantom-s
  width 16px
  height 16px
  background-position -16px -32px
  background-size: 64px 64px
.icon-pirate-s
  width 16px
  height 16px
  background-position -32px -32px
  background-size: 64px 64px
.icon-robot-s
  width 16px
  height 16px
  background-position -48px 0px
  background-size: 64px 64px
.icon-void-s
  width 16px
  height 16px
  background-position -48px -16px
  background-size: 64px 64px
.icon-wild-s
  width 16px
  height 16px
  background-position -48px -32px
  background-size: 64px 64px
.icon-yordle-s
  width 16px
  height 16px
  background-position 0px -48px
  background-size: 64px 64px