@import "./sprite-class";
@import "./sprite-origin";
@import "./sprite-champion";
@import "./sprite-skill";
p
  color azure
span
  color azure
html
  overflow-y hidden
  color #afafaf
.pointer:hover
  cursor pointer
.card-container
  width 90%
  margin 64px 24px 40px 24px
  background #424242
  border-radius 6px
  border-left 4px solid #00B8D4
  @media screen and (max-width: 600px)
    margin 64px 0 40px 0
.card-container-title
  display flex
  justify-content center
  align-items center
  position relative
  top -24px
  margin auto
  margin-bottom -16px
  height 48px
  max-width: calc(100% - 80px);
  background #00B8D4
  border-radius 8px
  > h3
    font-size:28px
// 個別に指定する項目
.card-container-title
  background #00B8D4
.card-container
  border-left 4px solid #00B8D4

// 個別に指定する項目
.class-color
  background #00B8D4
.origin-color
  background #00c853